<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <input id="usernameInput" placeholder="Username"/>
        <input id="passInput" placeholder="Password"/>
        <button onclick="login()">Login</button>
        <script>
            function login() {
                const username = document.getElementById('usernameInput').value.trim();
                if (username.length > 0) {
                    localStorage.setItem('username', username);
                    window.location.href = '/';
                } else {
                    alert("Please enter a username.");
                }
            }
        </script>
    </body>
</html>